@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
  --dark-mode-bg-primary: #151C26;
  --dark-mode-bg-secondary: #1B2936;
  --dark-mode-bg-tertiary: rgba(24, 31, 43, 1);
  --dark-mode-txt: #fff;
  --dark-mode-border: rgba(255,255,255,.5);
}

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family: 'Montserrat', 'Raleway', sans-serif;
}

body {
  background-color: var(--dark-mode-bg-primary);
  color: var(--dark-mode-txt);
  padding: 0;
}

img {
  max-width: inherit !important;
}

.App {
  position: relative;
}

.App-header {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

a {
  outline: none !important;
  text-decoration: none !important;
  color: inherit !important;
  background-color: inherit !important;
}

a:hover {
  outline: none !important;
  text-decoration: none !important;
  color: inherit !important;
  background-color: inherit !important;
}

.main {
  display: block;
  margin: 50px auto 100px;
  text-align: center;
  width: 85%;
  height: 100%;
}

ul.nav {
  margin: 0 auto;
  text-align: left;
  background-color: var(--dark-mode-bg-secondary);
}

li.nav-item {
  display: inline-block;
  color: var(--dark-mode-txt);
  font-weight: bolder;
  font-size: 14pt;
  margin: 0 10px;
  padding: 15px 10px 0;
}

li.nav-item i {
  font-size: 14px;
  margin: 0 5px 0;
}

li.nav-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  transition: all .5s ease;
  border-bottom: 4px solid rgba(255,255,255,0) !important;
}

li.nav-item:hover:after {
  border-bottom: 4px solid rgba(255,255,255,0.3) !important;
}

.short-nav {
  background-color: var(--dark-mode-bg-secondary);
  padding: 0;
  margin: 0;
  display:table;
  width:100%;
}

.short-nav-item {
  background-color: var(--dark-mode-bg-secondary);
  border-bottom: 4px solid rgba(255,255,255,0) !important;
  display:table-cell;
  color: var(--dark-mode-txt);
  font-weight: bolder;

}

.short-nav-item:hover {
  transition: all .5s ease;
  border-bottom: 4px solid rgba(255,255,255,.3) !important;
}

.short-nav-item-icon {
  font-size: 18pt !important;
  width: 100%;
  padding: 19px 15px 15px;
}

/* Home/Portfólio */
.home-container {
  width: 100%;
  margin: 0 auto;
}

.home-container .title, .wlc {
  margin: 0 auto;
}

.home-container .wlc {
  width: 100%;
  margin: 2px auto 10px;
  text-align: center;
}

section.home-portfolio-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.home-portfolio-item {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 10px 30px -4px rgba(0,0,0,.2);
  transition: all .5s ease-in-out;
}

.wrapper-image {
  overflow: hidden;
  height: 220px;
}

.home-portfolio-item-img-container {
  overflow: hidden;
  height: 90%;
  max-height: 90%;
}

.home-portfolio-item-img-container .portfolio-image {
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.home-portfolio-item-img-container .portfolio-image:hover {
  transform: scale(1.1);
  filter: blur(1.5px);
  filter: brightness(50%);
}

.home-portfolio-item-info {
  padding: 2px 0;
  margin: 10px 0;
  height: 97px;
  text-align: center;
}

.home-portfolio-item-info:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.home-portfolio-item-info.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.home-portfolio-item-info h4 {
  font-size: 12pt;
  margin: 2px;
  font-weight: bolder;
}

.home-portfolio-item-info p {
  font-size: 10pt;
  margin: 15px 10px;
}

/* item conteudo */

.item-page {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: var(--dark-mode-bg-tertiary);
  padding: 20px;
  border-radius: 1em;
}

.item-page h1 {
  margin: 0 0 5px;
  text-align: left;
}

.item-page a {
  background-color: rgba(255,255,255,.1) !important;
  padding: 2px;
}

.last-link {
  margin-left: 5px;
}

i {
  font-size: 12pt;
  margin-right: 5px;
}

.item-content p {
  text-align: justify !important;
  font-size: 10pt;
  margin: 10px 0;
}

.item-content h4 {
  background-color: rgba(255,255,255,.1) !important;
  padding: 5px;
  display: inline-block;
  margin: 0 0 10px 0;
}

.item-screenshots {
  width: 98%;
  margin: 0 auto;
}

.item-image {
  width: 100%;
  height: 100%;
}

.item-image:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.item-image.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.btn-open-img {
  width: 100%;
  color: #fff;
  padding: 10px;
  background-color: var(--dark-mode-bg-secondary);
  border: none;
  transition: all .5s ease;
  outline: none !important;
}

.btn-open-img:hover {
  color: #fff;
  background-color: rgba(34, 52, 69);
  transition: all .3s ease-in;
}

/* Modal SWAL */

div.hideSweetAlert {
  background-color: var(--dark-mode-bg-tertiary) !important;
  transition: all .5s !important;
}

.sweet-alert {
  width: 70% !important;
  left: 0 !important;
  right: 0 !important;
  top: 48% !important; 
  transform: translate(0,-50%) !important;
  margin: 0 auto !important;
  text-align: center !important;
  background-color: var(--dark-mode-bg-tertiary) !important;
  transition: all .5s !important;
  animation: all .5s !important;
}

.sweet-alert .modal-image {
  width: 100%;
}

button.confirm {
  color: #fff !important;
  transition: all .5s !important;  
  background-color: rgba(9,63,91,1) !important;
}

button.confirm:hover {
  transition: all .5s !important;  
  background-color: rgba(9, 69, 99,1) !important;
}

/* footer */


footer {
  position: absolute;
  top: 100%; 
  transform: translate(0,100%);
  width: 100%;
  font-size: 8pt;
  text-align: left;
  color: #fff;
  padding: 1rem;
  background-color: #303030
}

@media screen and (min-width: 1366px) {
  .wrapper-image {
    overflow: hidden;
    height: 260px;
  }
}

/* ------------------- sobre-mim ---------------------*/

.about-me {
  margin: 0 auto;
  width: 80%;
}

/* header */

.perfil {
  width: 100%;
  height: 270px;
  background-color: var(--dark-mode-bg-tertiary);
  position: relative;
  box-shadow: 0 16px 44px -4px rgba(0,0,0,.3);
  border-radius: 1em;
  overflow: hidden;
}

.perfil-header {
  height: 53%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.perfil-header .banner {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.perfil-image {
  position: absolute;
  top: 50%; 
  left: 0;
  transform: translate(0,-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,.1);
  background-color: rgba(27, 41, 54, .8);
  box-shadow: 14px 16px 24px -4px rgba(0,0,0,.1);
  overflow: hidden;
  margin: 0 10px;
}

.perfil-image .me {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100% !important;
}

.perfil-data {
  position: absolute;
  bottom: 0; 
  left: 0;
  transform: translate(0,0);
  width: 100%;
  padding: 5px 10px;
}

.perfil-data #name {
  font-size: 12pt;
  font-weight: bolder;
}

.perfil-data #role {
  font-size: 10pt;
}

.basic-data {
  display: inline-block;
  float: left;
}

.basic-data span {
  text-align: left;
  display: block;
}

.social-data {
  display: inline-block;
  float: right;
}

.social-data span {
  text-align: right;
  display: inline-block;
}

.social-data span:hover {
  box-shadow: 0 16px 44px -4px rgba(0,0,0,1) !important;
}

.social-data .fa-github, .fa-linkedin {
  font-size: 20pt;
  transition: color .2s ease;
}

.social-data .fa-linkedin:hover {
  color: #0077B5;
  transition: all .2s ease;
}

.social-data .fa-github:hover {
  color: #c9510c;
  transition: all .2s ease;
}

#github:hover, #linkedin:hover {
  box-shadow: 0 16px 44px -4px rgba(0,0,0,1) !important;
}

/* formação academica */

.academic-and-company {
  margin: 20px 0 30px;
  width: 100%;
  background-color: var(--dark-mode-bg-tertiary);
  padding: 20px;
  border-radius: 1em;
}

.academic-and-company h2, .academic-and-company-icon {
  font-size: 20pt;
}

.academic-and-company-item {
  margin: 20px 0;
  width: 100%;
  height: 120px;
  background-color: var(--dark-mode-bg-secondary);
  box-shadow: 14px 16px 24px -4px rgba(0,0,0,.5);
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
  overflow: hidden;
}

.academic-and-company-image {
  display: inline-block;
  width: 120px;
  float: left;
  height: 100%;
  overflow: hidden;
  background-color: var(--dark-mode-bg-primary);
}

.academic-and-company-image .logo {
  flex-shrink: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

.academic-and-company-data {
  display: inline-block;
  width: calc(100% - 120px);
  vertical-align: top;
  text-align: left;
  padding: 10px;
}

.academic-and-company-data .academic-and-company-name {
  font-size: 14pt;
  width: 100%;
  font-weight: bolder;
}

.academic-and-company-info {
  display: block;
  text-align: left;
  margin: 20px 0;
}

.academic-and-company-info span {
  display: block;
}

/*contatos */

.contacts-container {
  height: 100%;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--dark-mode-bg-tertiary);
  padding: 20px;
  border-radius: 1em;
}

.contact-form-title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 22pt;
}

.mapboxgl-map {
  width: 100% !important;
  height: 30vh !important;
  margin: 0 0 5px 0;
}

.address-and-contacts {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.contacts {
  height: 100%;
}

.address-and-contacts span {
  display: block;
  text-align: left;
  font-size: 12px;
}

.contact-content {
  display: inline-block;
  margin: 0;
}

.contacts-left {
  display: inline-block;
  float: left;
  margin: 10px 0 0;
}

.contacts-right {
  display: inline-block;
  float: right;
  margin: 50px 0 0;
}

.contacts-extra {
  margin: 30px 0 0;
}

.contacts-extra i {
  font-size: 12pt;
}

.link {
  color: #3D7AD5 !important;
  transition: all .5s ease;
  margin: 0;
}

.link:hover {
  color: #548CE8 !important;;
  transition: all .5s ease;
}

.contacts-curriculum {
  width: 100%;
  display: block;
}

/* ------------- curriculum ------------ */

.curriculum-container {
  width: 100%;
}

.curriculum {
  width: 130px;
  height: 130px;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: 0 16px 44px -4px rgba(0,0,0,.5);
}

.curriculum-icon-wrapper {
  display: table;
  width: 100%;
  height: 75%;
  background-color: rgba(10,90,153,1) !important;
}

.btn-download {
  width: 100%;
  height: 25%;
  color: #fff;
  padding: 5px;
  background-color: rgba(24, 31, 43, 1) !important;
  transition: background-color .5s;
  border: none;
  outline: none;
}

.btn-download:hover {
  background-color: rgba(25, 33, 46, 1) !important;
  transition: all .5s;
}

.curriculum-icon-wrapper .fa-file-alt {
  display: table-cell;
  font-size: 35pt;
  vertical-align: middle;
}

/* ----------- media querie ------------ */

@media screen and (max-width: 900px) {
  /* sobre mim */
  .about-me {
    width: 100%;
  }
  /* contatos */
  .contacts-container {
    width: 95%;
  }
  /* portfolio item */
  .item-page {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper-image {
    overflow: hidden;
    height: 300px;
  }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
  /* contatos */
  .contacts-container {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .mapboxgl-map {
    width: 100% !important;
    height: 25vh !important;
    margin: 0 0 15px 0;
  }
  /* sobre mim */
  .academic-and-company h2, .academic-and-company-icon {
    font-size: 18pt;
  }

  .academic-and-company-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .academic-and-company-data .academic-and-company-name {
    font-size: 13pt;
  }

  .academic-and-company-info {
    font-size: 10pt;
  }
}

@media screen and (max-width: 480px) and (min-width: 381px) {
  .main {
    width: 95%;
  }
  /* sobre mim */
  .academic-and-company h2, .academic-and-company-icon {
    font-size: 14pt;
  }

  .academic-and-company-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .academic-and-company-data .academic-and-company-name {
    font-size: 10pt;
  }

  .academic-and-company-info {
    font-size: 10pt;
  }

  .curriculum-container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 380px) {
  .main {
    width: 95%;
  }
  /* sobre mim */
  .perfil-data #name {
    font-size: 10pt;
    font-weight: bolder;
  }

  .perfil-data #role {
    font-size: 8pt;
  }

  .social-data .fa-github, .fa-linkedin {
    font-size: 18pt;
    transition: color .2s ease;
  }

  .academic-and-company-image {
    width: 100px;
    float: left;
    height: 100%;
    background-color: var(--dark-mode-bg-primary);
  }

  .academic-and-company-data {
    width: calc(100% - 100px);
    padding: 10px;
  }

  .academic-and-company h2, .academic-and-company-icon {
    font-size: 14pt;
  }

  .academic-and-company-item {
    height: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .academic-and-company-data .academic-and-company-name {
    font-size: 10pt;
  }

  .academic-and-company-info {
    font-size: 8pt;
    margin: 8px 0;
  }

  .curriculum-container {
    padding: 0 10px;
  }
}