@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
  --dark-mode-bg-primary: #151C26;
  --dark-mode-bg-secondary: #1B2936;
  --dark-mode-txt: #fff;
  --dark-mode-border: rgba(255,255,255,.5);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Raleway', sans-serif;
}

body {
  background-color: var(--dark-mode-bg-primary);
  color: var(--dark-mode-txt);
  padding: 0;
}

.App-header {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

a {
  outline: none !important;
  text-decoration: none !important;
  color: inherit !important;
  background-color: inherit !important;
}

a:hover {
  outline: none !important;
  text-decoration: none !important;
  color: inherit !important;
  background-color: inherit !important;
}


.main {
  display: block;
  margin: 50px auto;
  text-align: center;
  width: 85%;
}

.my-infos {
  display: block;
  
}

.my-infos span {
  display: block; 
  margin: 5px 0;
}

.img-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #ddd;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

ul.nav {
  margin: 0 auto;
  text-align: left;
  background-color: var(--dark-mode-bg-secondary);
}

li.nav-item {
  display: inline-block;
  color: var(--dark-mode-txt);
  font-weight: bolder;
  font-size: 14pt;
  margin: 0 10px;
  padding: 15px 10px 0;
}

li.nav-item i {
  font-size: 14px;
  margin: 0 5px 0;
}

li.nav-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  transition: all .5s ease;
  border-bottom: 4px solid rgba(255,255,255,0) !important;
}

li.nav-item:hover:after {
  border-bottom: 4px solid rgba(255,255,255,0.3) !important;
}

/* Home/Portfólio */
.home-container {
  width: 100%;
  margin: 0 auto;
}

.home-container .title, .wlc {
  margin: 0 auto;
}

.home-container .wlc {
  width: 100%;
  margin: 2px auto 10px;
  text-align: center;
}

section.home-portifolio-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.home-portifolio-item {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 10px 30px -4px rgba(0,0,0,.2);
  transition: all .5s ease-in-out;
}

.wrapper-image {
  overflow: hidden;
  height: 220px;
}

.home-portifolio-item-img-container {
  overflow: hidden;
  height: 90%;
  max-height: 90%;
}

.home-portifolio-item-img-container img {
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
  /*flex-shrink: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;*/
}

.home-portifolio-item-img-container img:hover {
  transform: scale(1.1);
  filter: blur(1.5px);
  filter: brightness(50%);
}

.home-portifolio-item-info {
  padding: 2px 0;
  margin: 10px 0;
  height: 97px;
  text-align: center;
}

.home-portifolio-item-info h4 {
  font-size: 12pt;
  margin: 2px;
  font-weight: bolder;
}

.home-portifolio-item-info p {
  font-size: 10pt;
  margin: 15px 10px;
}

/* item conteudo */

.item-page {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.item-page h1 {
  margin: 0;
}

.item-page a {
  background-color: rgba(255,255,255,.1) !important;
  padding: 2px;
}

.last-link {
  margin-left: 5px;
}

i {
  font-size: 12pt;
  margin-right: 5px;
}

.item-content p {
  text-align: justify;
  font-size: 10pt;
  margin: 10px 0;
}

.item-content h4 {
  background-color: rgba(255,255,255,.1) !important;
  padding: 5px;
  display: inline-block;
  margin: 0 0 10px 0;
}

.item-screenshots {
  width: 98%;
  margin: 0 auto;
}

.item-screenshots img {
  width: 100%;
  height: 100%;
}

/* footer */

footer {
  width: 100%;
  font-size: 8pt;
  display: block;
  text-align: left;
  color: #fff;
  padding: 1rem;
  background-color: #303030;
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0*/
}

@media screen and (min-width: 1366px) {
  .wrapper-image {
    overflow: hidden;
    height: 260px;
  }
}

/* ------------------- sobre-mim ---------------------*/

.about-me {
  margin: 0 auto;
  width: 80%;
}

/* header */

.perfil {
  width: 100%;
  height: 270px;
  background-color: var(--dark-mode-bg-secondary);
  position: relative;
  box-shadow: 0 16px 44px -4px rgba(0,0,0,.3);
}

.perfil-header {
  height: 53%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.perfil-header img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.perfil-image {
  position: absolute;
  top: 50%; 
  left: 0;
  transform: translate(0,-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,.1);
  box-shadow: 14px 16px 24px -4px rgba(0,0,0,.1);
  overflow: hidden;
  margin: 0 10px;
}

.perfil-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.perfil-data {
  position: absolute;
  bottom: 0; 
  left: 0;
  transform: translate(0,0);
  width: 100%;
  padding: 5px 10px;
}

.perfil-data #name {
  font-size: 12pt;
  font-weight: bolder;
}

.perfil-data #role {
  font-size: 10pt;
}

.perfil-data #age {
  font-size: 10pt;
}

.perfil-data span {
  display: block;
  text-align: left;
}

/* formação academica */

.academic-formation {
  margin: 20px 0;
  width: 100%;
}

.academic-formation-item {
  margin: 20px 0;
  width: 100%;
  height: 100px;
  background-color: var(--dark-mode-bg-secondary);
  box-shadow: 14px 16px 24px -4px rgba(0,0,0,.5);
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
}

.academic-institution-image {
  display: inline-block;
  width: 120px;
  float: left;
  height: 100%;
  overflow: hidden;
}

.academic-institution-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.formation-data {
  display: inline-block;
  width: calc(100% - 120px);
  vertical-align: top;
  text-align: left;
  padding: 10px;
}

.formation-data .academic-institution-name {
  font-size: 14pt;
  width: 100%;
  font-weight: bolder;
}

.formation-info {
  display: block;
  text-align: left;
  margin: 20px 0;
}

.formation-info span {
  display: block;
}

/*contatos */

.contacts-container {
  overflow: hidden;
  height: 100%;
}

.contact-form-title {
  margin: 0 0 50px;
}


.mapboxgl-map {
  width: 100% !important;
  height: 33vh !important;
  margin: 0 0 5px 0;
}

.address-and-contacts {
  display: block;
  float: left;
  text-align: right;
  width: 50%;
  display: inline-block;
}

.contacts {
  height: 100%;
}

.address-and-contacts span {
  display: block;
  text-align: left;
  font-size: 12px;
}

.contact-content {
  display: inline-block;
  margin: 0;
}

.contacts-extra {
  margin: 30px 0 0;
}

.link {
  color: #3D7AD5 !important;
  transition: all .5s ease;
  margin: 0;
}

.link:hover {
  color: #548CE8 !important;;
  transition: all .5s ease;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 520px) {
  .container-contact {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .address-and-contacts {
    display: block;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .wrap-contact .input {
    width: 100%;
    border-radius: 0;
    background-color: rgba(255,255,255,.05);
    border: none;
    padding: 5px;
    height: 30px;
    color: #fff;
    margin: 0 0 5px;
  }

  .contact-form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }

  .contacts {
    display: none;
  }

  .mapboxgl-map {
    width: 100% !important;
    height: 20vh !important;
    margin: 0 0 15px 0;
  }
}

